
<main class="l-container">
  {{> header}}
  <div class="l-main">
    <div class="l-layout01">
      <div class="l-layout01-col01">
        <div class="l-table--wrapper">
          <table class="l-table js-table-services table-full">
            <thead>
              <tr>
                <th>Tên dịch vụ</th>
                <th>Giá tiền</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              {{!-- Services list --}}
            </tbody>
          </table>
        </div>
        <div class="c-btn-list">
          <button class="c-btn01 js-btn-book">BOOK</button>
          <button class="c-btn02 js-clear-data">CANCEL</button>
        </div>

      </div>
      <div class="l-layout01-col02">
        <div class="l-orders">
          <div class="l-orders-head">
            <span>Hóa đơn</span>
            <span class="js-receipt-date">..../..../202...</span>
          </div>
          <div class="l-orders-content">
            {{!-- <div class="l-col">
              <div class="l-col1">
                <label for="1">Mã HĐ</label>
                <input type="text" >
              </div>
            </div> --}}
            <div class="input_wrapper">
              <label for="1">Tên KH</label>
              <input type="text" placeholder="Tên Khách Hàng">
            </div>
            <div class="input_wrapper">
              <label for="1">SDT</label>
              <input type="text" placeholder="Số điện thoại">
            </div>
          </div>
          <div class="l-orders-list">
            <table class="l-table js-table-receipt">
              <thead>
                <tr>
                  <th>Dịch vụ</th>
                  <th>Giá</th>
                  <th>SL</th>
                  <th>Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                {{!-- list rêcipt --}}
              </tbody>
            </table>
          </div>
          <div>
            <div class="input_wrapper">
              <label for="1">Ghi chú</label>
              <input type="text" placeholder="Ghi chú...">
            </div>
            <div class="input_wrapper">
              <label for="1">Phí khác</label>
              <input type="number" placeholder="Phí khác">
            </div>
          </div>
          <div class="l-orders-baber">
            <div class="l-col">
              <div class="l-col1">
                <label for="">Thợ cắt</label>
                <select name="" id="" class="js-barber-list">
                  <option value="">Mr Hung</option>
                  <option value="">Mr Tuan</option>
                </select>
              </div>
              <div class="l-col1">
                <label for="">Công</label>
                <select name="" id="" class="js-barber-fee">
                  <option value="0">0%</option>
                  <option value="10">10%</option>
                  <option value="20">20%</option>
                  <option value="30">30%</option>
                  <option value="40">40%</option>
                  <option value="50">50%</option>
                  <option value="60">60%</option>
                  <option value="70">70%</option>
                  <option value="80">80%</option>
                  <option value="90">90%</option>
                  <option value="100">100%</option>
                </select>
              </div>
            </div>
          </div>
          <div class="l-orders-total">
            <div class="l-col">
              <div class="l-col1">
                <span>Tổng tiền</span>
                <span class="l-col_txt--box js-total-money">0</span>
              </div>
              <div class="l-col1">
                <span >Công thợ</span>
                <span class="l-col_txt--box js-fee-bb">0</span>
              </div>
            </div>
          </div>
          <div class="l-orders-button">
            <div class="c-btn-list">
              <button class="c-btn03">ADD</button>
              <button class="c-btn01">PAYMENT</button>
              <button class="c-btn02">CANCEL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="/javascripts/service.js"></script>