@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.l-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.l-header {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.l-header__menu {
  display: flex;
  padding: 9px 13px;
}
.l-header__item {
  margin-right: 15px;
}
.l-header__item.is-active a {
  background-color: rgba(69, 130, 242, 0.2);
}
.l-header__item a {
  color: rgb(69, 130, 242);
  transition: all 0.2s linear;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  padding: 7px 20px;
  display: block;
}
.l-header__item a:hover {
  background-color: rgba(69, 130, 242, 0.2);
}

.l-layout01 {
  display: flex;
  padding: 12px 15px;
  height: calc(100vh - 60px);
}
.l-layout01-col01 {
  width: 58.8194444444%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.l-layout01-col02 {
  padding-left: 20px;
  flex: 1;
  position: relative;
}
.l-layout01-layer {
  position: absolute;
  inset: -5px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 2;
  opacity: 0;
  transition: all 0.2s linear;
  pointer-events: none;
}
.l-layout01-layer.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.l-table {
  border-collapse: collapse;
  width: 100%;
}
.l-table--wrapper {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 60px - 50px);
}
.l-table tr {
  position: relative;
  background-color: #fff;
  transition: all 0.2s linear;
}
.l-table tr:nth-child(even) {
  background-color: rgba(173, 210, 255, 0.1);
}
.l-table tr:hover {
  background-color: rgba(54, 144, 255, 0.1);
}
.l-table th {
  text-align: left;
  padding: 10px 9px;
}
.l-table td {
  padding: 10px 9px;
}
.l-table-quantity {
  display: flex;
  gap: 5px;
}
.l-table-quantity button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  border-radius: 2px;
  transition: all 0.2s linear;
}
.l-table-quantity button.js-quantity-sub {
  background-color: rgb(250, 108, 108);
}
.l-table-quantity button.js-quantity-plus {
  background-color: rgb(69, 130, 242);
}
.l-table-quantity button:hover {
  transform: translateY(-3px);
}
.l-table-quantity span {
  text-align: center;
  width: 20px;
}

.l-orders {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.l-orders-head {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 11px;
  height: 5%;
  margin-bottom: 20px;
}
.l-orders-list {
  height: 300px;
  overflow-y: auto;
}
.l-orders-list tr::before {
  background-color: rgba(56, 39, 71, 0.2666666667);
}
.l-orders-total {
  color: black;
  background-color: rgba(202, 77, 77, 0.3490196078);
  font-size: 20px;
  font-weight: 700;
}

.l-col {
  display: flex;
  font-size: 12px;
}
.l-col1 {
  width: 50%;
  padding: 8px 11px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.l-col2 {
  width: 50%;
  padding: 8px 11px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.l-col label {
  width: 70px;
}
.l-col input {
  width: 176px;
  border-radius: 5px;
  padding: 4px 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.6980392157);
}
.l-col_txt--box {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.l-main {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* width */
*::-webkit-scrollbar {
  width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.l-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.c-btn-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  gap: 12px;
}

.c-btn01 {
  padding: 12px 20px;
  color: #fff;
  background-color: #32A659;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: all 0.2s linear;
  font-size: 12px;
  font-weight: 700;
}
.c-btn01:hover {
  opacity: 0.8;
}

.c-btn02 {
  padding: 12px 20px;
  color: #fff;
  background-color: #CD583E;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: all 0.2s linear;
  font-size: 12px;
  font-weight: 700;
}
.c-btn02:hover {
  opacity: 0.8;
}

.c-btn03 {
  padding: 12px 20px;
  color: #fff;
  background-color: rgba(21, 119, 235, 0.9882352941);
  border: none;
  border-radius: 3px;
  outline: none;
  transition: all 0.2s linear;
  font-size: 12px;
  font-weight: 700;
}
.c-btn03:hover {
  opacity: 0.8;
}

select {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}
select option {
  padding: 4px 8px;
}

.input_wrapper {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}
.input_wrapper label {
  width: 15%;
}
.input_wrapper input {
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.align-right {
  text-align: right;
  margin-top: 20px;
}
.align-right span {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
