<header class="l-header">
  <div class="l-header__menu">
    <div class="l-header__item"><a href="/">TRANG CHỦ</a></div>
    <div class="l-header__item"><a href="/services">DỊCH VỤ</a></div>
    <div class="l-header__item"><a href="/orders">QUẢN LÝ ĐƠN</a></div>
    <div class="l-header__item"><a href="/analytics">THỐNG KÊ</a></div>
  </div>
</header>